tests-resources/db.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE db [
<!ELEMENT db (conf*)>
<!ELEMENT conf (title, issue+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT issue (inproceedings*)>
<!ELEMENT inproceedings (author+, title)>
<!ATTLIST inproceedings year CDATA #REQUIRED>
<!ATTLIST inproceedings key ID #REQUIRED>
<!ATTLIST inproceedings pages CDATA #REQUIRED>
<!ELEMENT author (#PCDATA)>
]>